body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://images.squarespace-cdn.com/content/v1/52da9677e4b03d314575985a/1463671870644-NHXDNAT7X40AO0JSWIAU/Best+Hotels+in+Los+Angeles+with+Perfect+Views+-+Header.jpg?format=2500w);
  background-size: cover;
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
